body {
  font: 100%/1.5 Georgia, 'Times New Roman', Times, serif;
  color: #222;
}
/* img {
  display: block;
  width: 100%;
  height: auto;
} */

.clip {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

a {
  color: rgb(240, 13, 43);
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 1rem, 0, 2rem;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: bold;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.3rem;}
p {font-size: 1.2rem;}

header, article, aside, footer {padding: 1rem;}

header { 
  background: rgb(245, 241, 25);
  text-align: center;
}

footer {
  background: rgb(218, 245, 100);
  line-height: 1.2;
  text-align: center;
}

